@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Patua+One&family=Urbanist:ital@0;1&display=swap");
.open-sans {
  font-family: "Open Sans", sans-serif;
}

.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.smart-bg {
  background-image: url("../public/14.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Media query for small screens */
@media screen and (max-width: 1022px) {
  .smart-bg {
    background-image: none;
    background-color: #faffe9; /* Hide the background image on small screens */
    border-radius: 30px;
  }
}



@media screen and (max-width: 1534px) {
  .smart-button {
    bottom: -95px !important;
    width: 272px !important;
  }
  .smart-button2 {
    bottom: -95px !important;
    width: 272px !important;
  }
}

@media screen and (max-width: 1280px) {
  .smart-button {
    bottom: -70px !important;
    width: 222px !important;
    font-size: 13px !important;
    margin-left: -10px !important;
  }
  .smart-button2 {
    bottom: -70px !important;
    width: 222px !important;
    font-size: 13px !important;
    margin-left: -10px !important;
  }
  .smart-p {
    font-size: 12px !important;
  }
  .smart-h {
    font-size: 32px !important;
  }
}

@media screen and (max-width: 1022px) {
  .smart-p {
    font-size: 14px !important;
  }
  .smart-button {
    position: none;
    bottom: -65px !important;
    width: 222px !important;
    font-size: 12px !important;
  }
  .smart-button2 {
    position: none;
    bottom: -65px !important;
    width: 222px !important;
    font-size: 12px !important;
  }
}

.smart-button {
  bottom: -130px;
  width: 324px;
}

.smart-button2 {
  bottom: -130px;
  width: 324px;
}

.smart-bg2 {
  background-image: url("../public/15.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Media query for small screens */
@media screen and (max-width: 1022px) {
  .smart-bg2 {
    background-image: none;
    background-color: #faffe9; /* Hide the background image on small screens */
    border-radius: 30px;
  }
}