@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Patua+One&display=swap");

.open-sans {
  font-family: "Open Sans", sans-serif;
}

/* Add this CSS to your stylesheet */

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate-animation {
    animation: rotate360 2s linear infinite !important; /* Change the duration and timing function as needed */
}
