@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Patua+One&family=Urbanist:ital@0;1&display=swap");
.open-sans {
  font-family: "Open Sans", sans-serif;
}

.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.smart-bg {
  background-image: url("../public/14.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Media query for small screens */
@media screen and (max-width: 1022px) {
  .smart-bg {
    background-image: none;
    background-color: #faffe9; /* Hide the background image on small screens */
    border-radius: 30px;
  }
}



@media screen and (max-width: 1540px) {
  .smart-button {
    bottom: -95px !important;
    width: 272px !important;
  }
  .smart-button2 {
    bottom: -95px !important;
    width: 272px !important;
  }
  .smart-button3 {
    bottom: -95px !important;
    width: 318px !important;
  }
  .smart-button4 {
    bottom: -95px !important;
    width: 318px !important;
  }
  .smart-button5 {
    bottom: -95px !important;
    width: 234px !important;
    margin-bottom: -20px !important;

    margin-right: 44px !important;
  }
  .sec54{
    margin-bottom: 150px !important;
  }

}

@media screen and (max-width: 1280px) {
  .smart-button {
    bottom: -70px !important;
    width: 222px !important;
    font-size: 13px !important;
    margin-left: -10px !important;
  }
  .smart-button2 {
    bottom: -70px !important;
    width: 222px !important;
    font-size: 13px !important;
    margin-left: -10px !important;
  }
  .smart-button3 {
    bottom: -70px !important;
    width: 256px !important;
    font-size: 13px !important;
    margin-left: -10px !important;
    margin-left: 6px !important;

  }
  .smart-button4 {
    bottom: -70px !important;
    width: 256px !important;
    font-size: 13px !important;
    margin-left: -10px !important;
    margin-left: 6px !important;

  }
  .smart-button5 {
    bottom: -70px !important;
    width: 186px !important;
    font-size: 13px !important;
    margin-left: -40px !important;
    margin-right: 36px !important;

  }
  .smart-p {
    font-size: 12px !important;
  }
  .smart-h {
    font-size: 32px !important;
  }

  .sec54{
    margin-bottom: 90px !important;
  }
}

@media screen and (max-width: 1022px) {
  .smart-p {
    font-size: 14px !important;
  }
  .smart-button {
    position: none;
    bottom: -65px !important;
    width: 222px !important;
    font-size: 12px !important;
  }
  .smart-button2 {
    position: none;
    bottom: -65px !important;
    width: 222px !important;
    font-size: 12px !important;
  }
  .smart-button3 {
    position: none;
    bottom: -65px !important;
    width: 268px !important;
    font-size: 12px !important;
    margin-left: 6px !important;

  }

  .smart-button4 {
    position: none;
    bottom: -65px !important;
    width: 268px !important;
    font-size: 12px !important;
    margin-left: 6px !important;

  }
  .smart-button5{
    position: none;
    bottom: -65px !important;
    width: 268px !important;
    font-size: 12px !important;
    margin-right: 26px !important;

  }


  .sec54{
    margin-bottom: 40px !important;
  }
}

.smart-button {
  bottom: -130px;
  width: 324px;
}

.smart-button2 {
  bottom: -130px;
  width: 324px;
}

.smart-button3 {
  bottom: -140px;
  width: 400px;
}

.smart-button4 {
  bottom: -140px;
  width: 400px;
}

.smart-button5 {
  bottom: -140px;
  width: 290px;
  margin-right: 14px;
  margin-top: 10px;
}
.smart-bg2 {
  background-image: url("../public/15.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.pic-bg {
  background-image: url("../public/331.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.pic-bg2 {
  background-image: url("../public/322.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Media query for small screens */
@media screen and (max-width: 1022px) {
  .smart-bg2 {
    background-image: none;
    background-color: #faffe9; /* Hide the background image on small screens */
    border-radius: 30px;
    
  }
  .pic-bg {
    background-image: url("../public/331.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
  }
  .pic-bg2 {
    background-image: url("../public/322.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
  }
}

@media screen and (max-width: 618px) {
  .smart-button3 {
    position: none;
    bottom: -65px !important;
    width: 142px !important;
    font-size: 8px !important;
    margin-left: 10px !important;
  }
  .smart-button4 {
    position: none;
    bottom: -65px !important;
    width: 202px !important;
    font-size: 8px !important;
    margin-left: 10px !important;
  }
  .smart-button5 {
    position: none;
    width: 202px !important;
    font-size: 12px !important;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

}



.visit{
  background-image: url("../public/132.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}